.blue-border-btn {
  font-size:15px;
  padding: 20px;
  text-transform: uppercase;
  color:$fountain-blue;
  position: relative;
  z-index: 1;
  cursor:pointer;
  @include background(transparent);
  @include border-color($fountain-blue);
  @include border-style(solid);
  @include border-width(1px);

  &:after {
    content: ' ';
    position: absolute;
    width:0%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;

    @include background($fountain-blue);
    @include transition(all, .3s);
  }

  &:hover, &:active {
    color:white;

    &:after {
      width:100%;
    }
  }
}
