$fountain-blue: #56B8BA;
$fountain-blue-lighter: lighten($fountain-blue, 30%);
$fountain-blue-light: lighten($fountain-blue, 20%);
$fountain-blue-hover: darken($fountain-blue, 20%);
$gray: #E6E7E8;
$base-font-color: #333333;

$shadow-item: 0 45px 12px -35px #9e9e9e;


// #bffff4;
